
<a class="btn btn-default nav-button" href="/users/<%= current_user.id %>">My Playlist</a>

<h1>Hello, <%= current_user.first_name %> <%= current_user.last_name %>!</h1>

<p>All the songs in our hub:</p>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Artist</th>
      <th>Title</th>
      <th>No. of Times Added</th>
      <th>Add to Playlist</th>
    </tr>
  </thead>
  <tbody>
    <%= render 'partials/main_table_body'%>
  </tbody>

</table>

<h2>Add a Song:</h2>

<%= render 'partials/errors' %>

<form id="add-song-form" action="/songs" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <div class="form-group">
    <label>Title:</label>
    <input class="form-control" type="text" name="title" value="">
  </div>
  <div class="form-group">
    <label>Artist:</label>
    <input class="form-control" type="text" name="artist" value="">
  </div>
  <div class="form-group align-right">
    <input class="btn btn-primary" type="submit" name="" value="Add Song">
  </div>
</form>